/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Lato"); /* Lato */
@import url("https://fonts.googleapis.com/css?family=Lobster"); /* Lobster */

/* Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  color: #424242;
  text-align: center;
}
.container {
  width: 80%;
  margin: 0 auto;
}
header p.name {
  font-size: 1.3em;
  font-weight: bold;
}
.portfolio-img,
.profile-img {
  max-width: 100%;
}
.profile-img {
  margin-bottom: 20px;
}
h2 {
  font-family: "Lobster", sans-serif;
  text-transform: capitalize;
  color: tomato;
  font-size: 2em;
  margin: 20px 0;
}
a {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
}
a:link,
a:visited {
  color: #424242;
}

/* Header & Navigation */
header {
  text-align: center;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}
nav ul {
  margin-top: 20px;
}
nav ul li {
  list-style: none;
  text-transform: uppercase;
  padding: 10px 0;
}

nav ul li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

#about-me {
  margin-top: 40px;
}

/* Main Section */
main {
  margin: 50px 0;
}

/* Cards */
#portfolio {
  margin-bottom: 50px;
}
.card {
  padding: 10px;
}
.card-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0 10px 0;
  display: block;
}

/* Skills */
#skills {
  margin-bottom: 30px;
}
#skills p {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2em;
}
#skills ul {
  list-style: none;
}

/* Contact */
#contact ul {
  list-style: none;
}
#contact ul li {
  padding-top: 10px;
}
#contact ul li span {
  font-weight: bold;
}

/* Footer  */
footer p {
  float: left;
  padding: 20px;
}
footer a {
  float: right;
  padding: 20px;
}
.large-footer-nav {
  display: none;
}

/* Tablet Media Query */
@media (min-width: 768px) {
  header {
    margin-top: 50px;
  }
  nav ul li {
    display: inline-block;
    padding: 2em;
  }
  a:hover {
    color: tomato;
  }
  .profile-img {
    float: right;
    width: 40%;
  }
  #about-me p {
    width: 60%;
    float: left;
    text-align: left;
  }
  .card {
    width: 50%;
    float: left;
    height: 400px;
  }
  #contact {
    width: 75%;
    margin: 0 auto;
  }
  .back-to-top {
    display: none;
  }
  .large-footer-nav {
    display: block;
    float: right;
  }
  .large-footer-nav ul {
    margin: 0;
    padding: 0;
  }
  .large-footer-nav ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
}
/* Bigger Monitor Media Query */
@media (min-width: 1024px) {
  header nav ul {
    float: right;
    margin: 0;
    padding: 0;
  }
  header nav ul li {
    display: inline-block;
    padding: 20px 0 20px 20px;
    margin: 0;
    font-weight: bold;
  }
  header p.name {
    margin: 0;
    padding: 20px 20px 20px 0;
    float: left;
  }
  .card {
    width: 33.333%;
  }
  #skills div.card {
    width: 50%;
    margin-bottom: 50px;
  }
  #contact {
    width: 60%;
  }
}

/* Clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
